<div myheader>
</div>
<!--Ventana de inactividad-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <!--Header de la ventana-->
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Cierre de sesi&oacute;n</h3>
        </div>
        <div class="modal-body">
            <!--Contenido de la ventana-->
            <h2>Se ha cerrado la sesi&oacute;n de forma autom&aacute;tica por inactividad</h2>
        </div>
        <div class="modal-footer">
            <!--Footer de la ventana-->
            <button type="button" ng-click="redirect('/login')" class="btn btn-primary">Aceptar</button>
        </div>
    </div>
</div>
<div myfooter></div>
